* {
  box-sizing: border-box;
}

img {
  height: 10vh
}

body {
  margin: 1em auto;
  width: 90%;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  gap: 1%;
  grid-template-rows: 1fr 4fr 3fr 2fr;
  grid-template-columns: 1fr 0.1fr 1.9fr 1.9fr 0.1fr 2fr;
  grid-template-areas: 
  "header header header header header header"
  "nav . main main uno uno"
  ". dos dos tres tres cuatro"
  "footer footer footer footer footer footer"
  ;
}

header {
  grid-area: header;
  text-align: center;
  border-bottom: 1px solid black;
}

nav {
  grid-area: nav;
}

main {
    grid-area: main;
}

#uno {
  grid-area: uno;
}

#dos {
  grid-area: dos;
}

#tres {
  grid-area: tres;
}

#cuatro {
  grid-area: cuatro;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "address copyright social"
  ;
  border-top: 1px solid black;
  padding: 2% 2%;
}

address {
  grid-area: address;
}

.copyright {
  grid-area: copyright;
  text-align: center;
}

.social {
  grid-area: social;
  text-align: end;
}

main, article {
  border: 1px solid black;
  border-radius: 16px;
}

main, #uno, #dos, #tres, #cuatro {
  text-align: center;
}