.contenedor {
  display: grid;
  grid-template-rows: 33% 33% auto;
  grid-template-columns: 20% 20% auto;
  grid-gap: 5%;
  width: 100%;
  height: 100vh;
  grid-template-areas:
  "cab cab cab"
  "menu . main"
  "menu pie pie";
}

.cab {
  background-color: red;
  grid-area: cab;
}

.menu {
  background-color:  blue;
  grid-area: menu;
}

.main {
  background-color: green;
  grid-area: main;
}

.pie {
  background-color: yellow;
  grid-area: pie;
}