.contenedor {
  display: grid;
  grid-template-rows: 33% 33% auto;
  grid-template-columns: 20% 20% auto;
  grid-gap: 5%;
  width: 100%;
  height: 100vh;
}

.cab {
  background-color: red;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.menu {
  background-color:  blue;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.main {
  background-color: green;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.pie {
  background-color: yellow;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
