.nav ul {
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
}

.logo img {width: 33%;}



.contenedor {
  display: grid;
  grid-template: 1fr 4fr 1fr 2fr 4fr / 1fr 3fr;
  grid-template-areas: 
  "idiomas ppal"
  "noticias ppal"
  "btn ppal"
  "rrss ppal"
  ". ppal";
  gap: 1%;
  justify-items: center;
}

.idiomas {grid-area: idiomas}

.noticias {grid-area: noticias}

.noticias-btn {grid-area: btn}

.redes-sociales {grid-area: rrss}

.contenedor-principal {grid-area: ppal}