* {
  box-sizing: border-box;
}

body {
  background-color: oldlace;
  margin: 0 auto;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.nav {
  background-color: white;
  margin: 0;
  padding: 0 10em 1em;
}

.nav ul {
  display: flex;
  gap: 2%;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.logo {
  text-align: center;
}

.logo img {width: 33%;}



.contenedor {
  display: grid;
  grid-template: 1fr 4fr 1fr 2fr 4fr / 1fr 3fr;
  grid-template-areas: 
  "idiomas ppal"
  "noticias ppal"
  "btn ppal"
  "rrss ppal"
  ". ppal";
  gap: 1%;
  justify-items: center;
}

.idiomas {grid-area: idiomas}

.noticias {grid-area: noticias}

.noticias-btn {grid-area: btn}

.redes-sociales {grid-area: rrss}

.contenedor-principal {grid-area: ppal}
