* {
  box-sizing: border-box;
}

body {
  background-color: #EDEDED;
  margin: 0 auto;
  text-align: justify;
}

.nav {
  background-color: white;
  margin: 0;
  padding: 0 10em 1em;
  border-bottom: 1px solid black;
}

.nav ul, .idiomas ul {
  display: flex;
  gap: 2%;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.idiomas ul {
  justify-content: flex-start;
  align-self: center;
}

.noticias ul {
  padding: 1em;
}

.nav a {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  text-align: center;
  background-color: white;
}

.logo img {width: 33%;}

.imagen img{
  width: 100%;
}

.contenedor {
  margin: 0 auto;
  display: grid;
  grid-template: 9% 36% 9% 18% 36% / 24% 48%;
  grid-template-areas: 
  "idiomas ppal"
  "noticias ppal"
  "btn ppal"
  "rrss ppal"
  ". ppal";
  gap: 2%;
  justify-content: center;
  width: 75%;
  margin: 2em auto;
}

.contenedor > div {
  background-color: white;
  padding: 1.5em
}

.contenedor-principal img {
  width: 100%
}

.idiomas {
  grid-area: idiomas;
  display: flex;
  gap: 2em;
}

.idiomas a {
  padding-right: 1em;
}

.noticias {grid-area: noticias}

.noticias-btn {grid-area: btn}

.redes-sociales {
  grid-area: rrss;
}

.logos-redes .fila-rs {
  padding: initial;
  text-align: center
}

.contenedor-principal {
  grid-area: ppal;
  text-align: justify;
}

.fila-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3em;
}

.fila-footer > div {
  width: 16%
}